{% extends "./partials/base.html" %} {% block title %}
<title>Write</title>
{% endblock title %} {% block main %}
<div style="margin: 1.5rem; margin-left: 20%; margin-right: 20%">
    <a style="font-weight: bold; font-size: 2rem">게시글 작성</a>
    <hr class="my-4" />
    {% comment %} action은 비워두면 defalut가 현재 url {% endcomment %}
    <form action="{% url 'board:write' %}" method="POST">
        {% csrf_token %} {% comment %}
        <div class="board-header p-3 mb-3">
            <label for="title-input" class="form-label">글 제목</label>
            <input
                type="text"
                name="title"
                class="form-control"
                id="title-input"
                placeholder="글 제목을 입력해주세요." />
        </div>
        <div class="board-content p-3 mb-3">
            <label for="content-input" class="form-label">내용</label>
            <textarea
                class="form-control&quot; name=&quot;content&quot; id=&quot;content-input&quot; rows=10"></textarea>
        </div>
        {% endcomment %} {% for field in form %}
        <div class="fieldWrapper m-2">
            {{ field.label_tag }} {{ field }} {% for error in field.errors %}
            <div id="content-help" class="form-text text-danger">
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="mb-3 p-3">
            <div style="float: right">
                <button type="submit" class="btn btn-outline-success">
                    작성
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
