{% extends "./partials/base.html" %} {% block title %}
<title>Detail</title>
{% endblock %} {% block main %}
<div style="margin: 0.3rem">
    <div>
        <a style="font-weight: bold; font-size: 2rem">{{info.title}}</a>
        <a style="float: right">{{info.date}}</a>
    </div>
    <hr class="my-4" />
    <div>
        <h5 style="font-weight: bold">{{info.content}}</h5>
    </div>
    <div>
        <a href="delete">
            <button
                type="button"
                class="btn btn-outline-danger"
                style="float: right">
                삭제
            </button>
        </a>
        <a href="modify">
            <button
                type="button"
                class="btn btn-outline-warning"
                style="float: right; margin-right: 1%">
                수정
            </button>
        </a>
    </div>

    <div style="margin-top: 7%">
        <h5>댓글 ({{info.com_len}})</h5>
        <hr class="my-4" />
        <form action="" method="POST">
            {% csrf_token %}

            <div class="input-group">
                <textarea
                    class="form-control"
                    name="comment"
                    id="comment-input"
                    rows="3"></textarea>
                <button type="submit" class="btn btn-outline-success">
                    작성
                </button>
            </div>
        </form>
        {% for com in info.comment %}
        <div style="margin-top: 1.5%">
            <a>{{com.content}}</a>
            <a style="float: right">{{com.created_at}}</a>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}
