{% extends "./partials/base.html" %} {% block main %}
<div style="margin: 0.3rem">
    <a style="font-weight: bold; font-size: 2rem">게시글</a>

    <a href="write/">
        <button type="button" class="btn btn-outline-warning" style="float: right">게시글 작성</button>
    </a>
</div>
<div class="list-group">
    {% for i in info %}
    <a href="{{i.id}}" class="list-group-item list-group-item-action d-flex justify-content-between">
        <div>
            <h5>{{i.title}}</h5>
            <span>{{i.content}}</span>
        </div>
        <div style="float: right">
            <span class="d-flex">{{i.date}}</span>
            <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill" style="float: right">{{i.com_cnt}}</span>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
